.corpoP{
    
    width: 1430px;
    height: 570px;
    top: 2737px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 
    
      

    background: #FFFFFF;

}
.img{

    height: 330px;
    padding: 65px;
    
    background: url(Ellipse\ 11\ \(1\).png);
    

}  

.textos{
    
    font-family: ui-monospace;
    text-align: left;
    padding: 0 20px 20px 20px;  
    /* font-family: 'Inter'; */
    font-style: normal;
   
    
    
}

.text1{

    height: 22px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;

    letter-spacing: 0.75px;

    color: #C92071;

}

.text2{
    
    width: 514px;
    height: 100px;
    left: 692px;
    top: 2882px;

    font-weight: 700;
    font-size: 48px;
    line-height: 50px;

    letter-spacing: 1px;

    color: #474747;
}

.text3{
    
    width: 589px;
    height: 112px;
    left: 692px;
    top: 3002px;

    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    letter-spacing: 0.75px;

    color: #474747;
}

.botao{
    font-size: 14px;
    line-height: 22px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    border-radius: 15%;

    background-color: #C92071;
    color: white;
    border-color: white;


}
