.corpoF{
    display: flex;
    justify-content: space-around;
    background: #1F1F1F;
}
.corpoTextos{
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    

    color: #FFFFFF;
    background: #1F1F1F;
}
.logo{
    display: block;
/* font-family: ui-monospace; */
font-style: normal;
font-weight: 600;
line-height: 44px;

letter-spacing: -0.01em;


color: #FFFFFF;
background: #1F1F1F;
}